<a href="https://colab.research.google.com/github/BegginerPark/10th-Day/blob/main/2_26(Part2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
## 문제 37: count 함수 사용하기
# count 함수 : 변수.count(value)

# a = 'ooyyy'
# a.count('y')

# b = 'ox o x oxoxoxoxo'
# b.count('ox')

a = [1,1,1,2,3]
a.count(1)

원영 원영 은비 은비 은비 은비 채연 채연

3

In [14]:
n = list(input().split())

name = input()

n.count(name)



print(name + "(이)가 총"+ str(n.count(name)) + '표로 반장이 되었습니다.')

원영 원영 은비 은비 은비 은비 채연 채연
은비
은비(이)가 총4표로 반장이 되었습니다.

In [16]:
n = list(input().split())
n.count(" ")
i = 0

if i is max(n.count(name)):
  print(name + "(이)가 총"+ str(n.count(" ")) + '표로 반장이 되었습니다.')

원영 원영 은비 은비 은비 은비 채연 채연

TypeError: ignored

In [17]:
## 문제 37
a = input().split()

b = list(set(a))

max_mem = 0

for i in range(len(b)): # 0,1,2 set의 순서를 정해준다.
  if a.count(b[i]) > a.count(b[max_mem]):
    max_mem = i #max_mem 은 최대값을 유지

print("%s(이)가 총 %d 표로 반장이 되었습니다." % (b[max_mem], a.count(b[max_mem])))

원영 원영 은비 은비 은비 은비 채연 채연
은비(이)가 총 4 표로 반장이 되었습니다.

In [44]:
#문제 40
n = input()
print(n.replace('q','e'))

qwerty
ewerty

In [14]:
#문제 41 : 소수판별

n = int(input())

re = 0

for i in range(1,n+1):
  if n % i == 0:
    re += 1

if re == 2:
  print("YES")
else:
  print("NO")

6
NO

In [37]:
## 문제 44 각 자리수의 합

n = list(map(int,input()))
sum = 0

for i in n:
  sum += i
  i += 1

print(sum)
# print(sum(map(int,str(n))))

1234
10

In [77]:
## 문제 46 : str 자료형의 응용
n = int(input())
sum = 0
for i in list(range((n+1))): 
  for j in str(i): 
    sum += int(j) 
  
print(sum)

20
102